![](../docs/banner.png)

## Career Opportunities in Data Science
* **Data Scientist**: The data scientist develops model like econometric and statistical for various problems like projection, classification, clustering, pattern analysis. Data scientists have to understand the challenges of business and offer the best solutions using data analysis and data processing.
* **Data Architect**: A data architect creates the blueprints for data management so that the databases can be easily integrated, centralized, and protected with the best security measures. They also ensure that the data engineers have the best tools and systems to work with.
* **Data Analytics**: Data analysts are responsible for a variety of tasks including visualisation, munging, and processing of massive amounts of data. They also have to perform queries on the databases from time to time.
* **Machine Learning Engineer**: They built data funnels and deliver solutions for complex software. Machine learning engineers are also expected to build data pipelines, and implement common machine learning algorithms such as classification, clustering, etc.
* **Data Engineer**: Data engineers build and test scalable Big Data ecosystems for the businesses so that the data scientists can run their algorithms on the data systems that are stable and highly optimized. Data engineers also update the existing systems with newer or upgraded versions of the current technologies to improve the efficiency of the databases.
* **Statistician**: A statistician, as the name suggests, has a sound understanding of statistical theories and data organization. Not only do they extract and offer valuable insights from the data clusters, but they also help create new methodologies for the engineers to apply.
* **Database Administrator**: The job profile of a database administrator is pretty much self-explanatory- they are responsible for the proper functioning of all the databases of an enterprise and grant or revoke its services to the employees of the company depending on their requirements.

# Chapter 1: Python Basics

<h2>Chapter Outline<span class="tocSkip"></span></h2>
<hr>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Introduction" data-toc-modified-id="1.-Introduction-1">1. Introduction</a></span></li><li><span><a href="#2.-Basic-Python-Data-Types" data-toc-modified-id="2.-Basic-Python-Data-Types-2">2. Basic Python Data Types</a></span></li><li><span><a href="#3.-Lists-and-Tuples" data-toc-modified-id="3.-Lists-and-Tuples-3">3. Lists and Tuples</a></span></li><li><span><a href="#4.-String-Methods" data-toc-modified-id="4.-String-Methods-4">4. String Methods</a></span></li><li><span><a href="#5.-Dictionaries" data-toc-modified-id="5.-Dictionaries-5">5. Dictionaries</a></span></li><li><span><a href="#6.-Empties" data-toc-modified-id="6.-Empties-6">6. Empties</a></span></li><li><span><a href="#7.-Conditionals" data-toc-modified-id="7.-Conditionals-7">7. Conditionals</a></span></li></ul></div>

## 1. Chapter Learning Objectives
<hr>

- Create, describe and differentiate standard Python datatypes such as `int`, `float`, `string`, `list`, `dict`, `tuple`, etc.
- Perform arithmetic operations like `+`, `-`, `*`, `**` on numeric values.
- Perform basic string operations like `.lower()`, `.split()` to manipulate strings.
- Compute boolean values using comparison operators operations (`==`, `!=`, `>`, etc.) and boolean operators (`and`, `or`, `not`).
- Assign, index, slice and subset values to and from tuples, lists, strings and dictionaries.
- Write a conditional statement with `if`, `elif` and `else`.
- Identify code blocks by levels of indentation.
- Explain the difference between mutable objects like a `list` and immutable objects like a `tuple`.

## 2. Basic Python Data Types
<hr>

A **value** is a piece of data that a computer program works with such as a number or text. There are different **types** of values: `42` is an integer and `"Hello!"` is a string. A **variable** is a name that refers to a value. In mathematics and statistics, we usually use variable names like $x$ and $y$. In Python, we can use any word as a variable name as long as it starts with a letter or an underscore. However, it should not be a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc. as these words encode special functionality in Python that we don't want to overwrite!

It can be helpful to think of a variable as a box that holds some information (a single number, a vector, a string, etc). We use the **assignment operator** `=` to assign a value to a variable.

![](img/chapter1/box.png)

Image modified from: [medium.com](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40stevenpcurtis.sc%2Fwhat-is-a-variable-3447ac1331b9&psig=AOvVaw3YbYfgb7XFOJ_sHP5eliob&ust=1595365663851000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMi8nrfe3OoCFQAAAAAdAAAAABAZ)

```{tip}
See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes.
```

### Common built-in Python data types

| English name          | Type name  | Type Category  | Description                                   | Example                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positive/negative whole numbers               | `42`                                       |
| floating point number | `float`    | Numeric Type   | real number in decimal form                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | true or false                                 | `True`                                     |
| string                | `str`      | Sequence Type  | text                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | a collection of objects - mutable & ordered   | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | a collection of objects - immutable & ordered | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | mapping of key-value pairs                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | represents no value                           | `None`                                     |

### Numeric data types

There are three distinct numeric types: `integers`, `floating point numbers`, and `complex numbers` (not covered here). We can determine the type of an object in Python using `type()`. We can print the value of the object using `print()`.

In [1]:
x = 42

In [4]:
type(x)

int

In [6]:
print(x)

42

In [5]:
x?

In Jupyter/IPython (an interactive version of Python), the last line of a cell will automatically be printed to screen so we don't actually need to explicitly call `print()`.

In [ ]:
x  # Anything after the pound/hash symbol is a comment and will not be run

In [7]:
pi = 3.14159
pi

3.14159

In [8]:
type(pi)

float

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
pi         float    3.14159
x          int      42

In [10]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
pi         float    3.14159
x          int      42

In [12]:
print(a)

3

In [13]:
del a

In [14]:
print(a)

NameError: name 'a' is not defined

In [15]:
%whos

Variable   Type     Data/Info
-----------------------------
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
pi         float    3.14159
x          int      42

### Arithmetic Operators

Below is a table of the syntax for common arithmetic operations in Python:

| Operator |   Description    |
| :------: | :--------------: |
|   `+`    |     addition     |
|   `-`    |   subtraction    |
|   `*`    |  multiplication  |
|   `/`    |     division     |
|   `**`   |  exponentiation  |
|   `//`   | integer division / floor division |
|   `%`    |      modulo      |

Let's have a go at applying these operators to numeric types and observe the results.

In [16]:
1 + 2 + 3 + 4 + 5  # add

15

In [17]:
2 * 3.14159  # multiply

6.28318

In [18]:
2 ** 10  # exponent

1024

Division may produce a different `dtype` than expected, it will change `int` to `float`.

In [19]:
int_2 = 2
type(int_2)

int

In [20]:
int_2 / int_2  # divison

1.0

In [21]:
type(int_2 / int_2)

float

But the syntax `//` allows us to do "integer division" (aka "floor division") and retain the `int` data type, it always rounds down.

In [23]:
type(101 / 2)

float

In [25]:
type(101 // 2)  # "floor division" - always rounds down

int

We refer to this as "integer division" or "floor division" because it's like calling `int` on the result of a division, which rounds down to the nearest integer, or "floors" the result.

In [1]:
int(101 / 2)

50

The `%` "modulo" operator gives us the remainder after division.

In [2]:
100 % 2  # "100 mod 2", or the remainder when 100 is divided by 2

0

In [3]:
101 % 2  # "101 mod 2", or the remainder when 101 is divided by 2

1

In [4]:
100.5 % 2

0.5

### None

`NoneType` is its own type in Python. It only has one possible value, `None` - it represents an object with no value. We'll see it again in a later chapter.

In [5]:
x = None

In [6]:
print(x)

None

In [7]:
type(x)

NoneType

### Strings

Text is stored as a data type called a `string`. We can think of a string as a sequence of characters. 

```{tip}
Actually they are a sequence of Unicode code points. Here's a [great blog post](https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-sets-no-excuses/) on Unicode if you're interested.
```

We write strings as characters enclosed with either:
  - single quotes, e.g., `'Hello'` 
  - double quotes, e.g., `"Goodbye"`

There's no difference between the two methods, but there are cases where having both is useful (more on that below)! We also have triple double quotes, which are typically used for function documentation (more on that in a later chapter), e.g., `"""This function adds two numbers"""`.

In [8]:
my_name = "Tomas Beuzen"

In [9]:
my_name

'Tomas Beuzen'

In [10]:
type(my_name)

str

In [11]:
course = 'DSCI 511'

In [12]:
course

'DSCI 511'

In [15]:
print(type(course))

<class 'str'>

If the string contains a quotation or apostrophe, we can use a combination of single and double quotes to define the string.

In [16]:
sentence = "It's a rainy day."

In [17]:
sentence

"It's a rainy day."

In [ ]:
type(sentence)

In [18]:
quote = 'Donald Knuth: "Premature optimization is the root of all evil."'

In [19]:
quote

'Donald Knuth: "Premature optimization is the root of all evil."'

### Boolean

The Boolean (`bool`) type has two values: `True` and `False`.

In [20]:
the_truth = True

In [21]:
the_truth

True

In [22]:
type(the_truth)

bool

In [23]:
lies = False

In [24]:
lies

False

In [25]:
type(lies)

bool

### Comparison Operators

We can compare objects using comparison operators, and we'll get back a Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [26]:
2 < 3

True

In [27]:
"Deep learning" == "Solve all the world's problems"

False

In [28]:
2 != "2"

True

In [29]:
2 is 2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Amir Mahdi\AppData\Local\Temp\ipykernel_3880\564785565.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2

True

In [30]:
2 == 2.0

True

In [43]:
False and False or True

True

In [44]:
True or False and False

True

In [45]:
(True or False) and False

False

In [46]:
x = 4
y = 9
z = 8.3
r = -3

In [47]:
(x<y) and (z<y) or (r==x)

True

In [48]:
(r==x) and (x<y) or (z<y)

True

### Boolean Operators

We also have so-called "boolean operators" which also evaluates to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or False

True

In [34]:
False or False

False

In [35]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [36]:
True

True

In [37]:
not True

False

In [38]:
not not True

True

In [39]:
a = True
b = True
c = False

In [40]:
%whos

Variable    Type        Data/Info
---------------------------------
a           bool        True
b           bool        True
c           bool        False
course      str         DSCI 511
lies        bool        False
my_name     str         Tomas Beuzen
quote       str         Donald Knuth: "Premature <...>is the root of all evil."
sentence    str         It's a rainy day.
the_truth   bool        True
x           NoneType    None

In [41]:
d = a or c
print(d)

True

In [42]:
not((a and b) or (c or d))

False

### Casting

Sometimes we need to explicitly **cast** a value from one type to another. We can do this using functions like `str()`, `int()`, and `float()`. Python tries to do the conversion, or throws an error if it can't.

In [49]:
x = 5.0
type(x)

float

In [50]:
x = int(5.0)
x

5

In [51]:
type(x)

int

In [54]:
x = str(5.0) 
x

'5.0'

In [55]:
type(x)

str

In [56]:
str(5.0) == 5.0

False

In [57]:
int(5.3)

5

In [58]:
float("hello")

ValueError: could not convert string to float: 'hello'

## 3. Lists and Tuples
<hr>

Lists and tuples allow us to store multiple things ("elements") in a single object. The elements are _ordered_ (we'll explore what that means a little later). We'll start with lists. Lists are defined with square brackets `[]`.

In [59]:
my_list = [1, 2, "THREE", 4, 0.5]

In [60]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [61]:
type(my_list)

list

Lists can hold any datatype - even other lists!

In [62]:
another_list = [1, "two", [3, 4, "five"], True, None, {"key": "value"}]
another_list

[1, 'two', [3, 4, 'five'], True, None, {'key': 'value'}]

You can get the length of the list with the function `len()`:

In [63]:
len(my_list)

5

In [66]:
my_list[2] = 3

In [67]:
my_list

[1, 2, 3, 4, 0.5]

Tuples look similar to lists but have a key difference (they are immutable - but more on that a bit later). They are defined with parentheses `()`.

In [68]:
today = (1, 2, "THREE", 4, 0.5)

In [69]:
today

(1, 2, 'THREE', 4, 0.5)

In [70]:
type(today)

tuple

In [71]:
len(today)

5

In [73]:
today[2] = 3

TypeError: 'tuple' object does not support item assignment

### Indexing and Slicing Sequences

We can access values inside a list, tuple, or string using square bracket syntax. Python uses *zero-based indexing*, which means the first element of the list is in position 0, not position 1.

In [74]:
my_list

[1, 2, 3, 4, 0.5]

In [75]:
my_list[0]

1

In [76]:
my_list[2]

3

In [77]:
len(my_list)

5

In [78]:
my_list[5]

IndexError: list index out of range

We can use negative indices to count backwards from the end of the list.

In [79]:
my_list

[1, 2, 3, 4, 0.5]

In [80]:
my_list[-1]

0.5

In [81]:
my_list[-2]

4

We can use the colon `:` to access a sub-sequence. This is called "slicing".

In [86]:
my_list[1:4]

[2, 3, 4]

Note from the above that the start of the slice is inclusive and the end is exclusive. So `my_list[1:3]` fetches elements 1 and 2, but not 3.

Strings behave the same as lists and tuples when it comes to indexing and slicing. Remember, we think of them as a *sequence* of characters.

In [87]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [88]:
alphabet[0]

'a'

In [89]:
alphabet[-1]

'z'

In [90]:
alphabet[-3]

'x'

In [91]:
alphabet[:5]

'abcde'

In [92]:
alphabet[12:20]

'mnopqrst'

### List Methods

A list is an object and it has methods for interacting with its data. A method is like a function, it performs some operation with the data, but a method differs to a function in that it is defined on the object itself and accessed using a period `.`. For example, `my_list.append(item)` appends an item to the end of the list called `my_list`. You can see the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [ ]:
primes = [2, 3, 5, 7, 11]
primes

In [ ]:
len(primes)

In [ ]:
primes.append(13)

In [ ]:
primes

### Sets

Another built-in Python data type is the `set`, which stores an _un-ordered_ list of _unique_ items. Being unordered, sets do not record element position or order of insertion and so do not support indexing.

In [1]:
s = {2, 3, 5, 11}
s

{2, 3, 5, 11}

In [2]:
{1, 2, 3} == {3, 2, 1}

True

In [3]:
[1, 2, 3] == [3, 2, 1]

False

In [6]:
s.add(2)  # does nothing
s

{2, 3, 5, 7, 11}

In [7]:
s[0]

TypeError: 'set' object is not subscriptable

Above: throws an error because elements are not ordered and can't be indexing.

### Mutable vs. Immutable Types

Strings and tuples are immutable types which means they can't be modified. Lists are mutable and we can assign new values for its various entries. This is the main difference between lists and tuples.

In [8]:
names_list = ["Indiana", "Fang", "Linsey"]
names_list

['Indiana', 'Fang', 'Linsey']

In [9]:
names_list[0] = "Cool guy"
names_list

['Cool guy', 'Fang', 'Linsey']

In [10]:
names_tuple = ("Indiana", "Fang", "Linsey")
names_tuple

('Indiana', 'Fang', 'Linsey')

In [11]:
names_tuple[0] = "Not cool guy"

TypeError: 'tuple' object does not support item assignment

Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [12]:
my_name = "Tom"

In [13]:
my_name[-1] = "q"

TypeError: 'str' object does not support item assignment

In [14]:
x = ([1, 2, 3], 5)

In [15]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [16]:
x

([1, 2, 3], 5)

In [ ]:
x[0][1] = 4

In [ ]:
x

## 4. String Methods
<hr>

There are various useful string methods in Python.

In [17]:
all_caps = "HOW ARE YOU TODAY?"
all_caps

'HOW ARE YOU TODAY?'

In [18]:
new_str = all_caps.lower()
new_str

'how are you today?'

Note that the method lower doesn't change the original string but rather returns a new one.

In [19]:
all_caps

'HOW ARE YOU TODAY?'

There are *many* string methods. Check out the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [20]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [21]:
all_caps.count("O")

3

One can explicitly cast a string to a list:

In [22]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [23]:
"".join(caps_list)

'HOW ARE YOU TODAY?'

In [24]:
"-".join(caps_list)

'H-O-W- -A-R-E- -Y-O-U- -T-O-D-A-Y-?'

We can also chain multiple methods together (more on this when we get to NumPy and Pandas in later chapters):

In [25]:
"".join(caps_list).lower().split(" ")

['how', 'are', 'you', 'today?']

In [42]:
a = "this is a string"

In [43]:
b = a.replace("string", "longer string")
b

'this is a longer string'

### String formatting

Python has ways of creating strings by "filling in the blanks" and formatting them nicely. This is helpful for when you want to print statements that include variables or statements. There are a few ways of doing this but I use and recommend [f-strings](https://docs.python.org/3.6/whatsnew/3.6.html#whatsnew36-pep498) which were introduced in Python 3.6. All you need to do is put the letter "f" out the front of your string and then you can include variables with curly-bracket notation `{}`.

In [38]:
name = "Newborn Baby"
age = 4 / 12
day = 10
month = 12
year = 2020
template_new = f"Hello, my name is {name}. I am {age:.2f} years old. I was born {day}/{month:02}/{year}."
template_new

'Hello, my name is Newborn Baby. I am 0.33 years old. I was born 10/12/2020.'

```{note} Notes require **no** arguments,
In the code above, the notation after the colon in my curly braces is for formatting. For example, `:.2f` means, print this variable with 2 decimal places. See format code options [here](https://docs.python.org/3.4/library/string.html#format-specification-mini-language).
```

## 5. Dictionaries
<hr>

A dictionary is a mapping between key-values pairs and is defined with curly-brackets:

In [ ]:
house = {
    "bedrooms": 3,
    "bathrooms": 2,
    "city": "Vancouver",
    "price": 2499999,
    "date_sold": (1, 3, 2015),
}

condo = {
    "bedrooms": 2,
    "bathrooms": 1,
    "city": "Burnaby",
    "price": 699999,
    "date_sold": (27, 8, 2011),
}

We can access a specific field of a dictionary with square brackets:

In [ ]:
house["price"]

In [ ]:
condo["city"]

We can also edit dictionaries (they are mutable):

In [ ]:
condo["price"] = 5  # price already in the dict
condo

In [ ]:
condo["flooring"] = "wood"

In [ ]:
condo

We can also delete fields entirely (though I rarely use this):

In [ ]:
del condo["city"]

In [ ]:
condo

And we can easily add fields:

In [ ]:
condo[5] = 443345

In [ ]:
condo

Keys may be any immutable data type, even a `tuple`!

In [ ]:
condo[(1, 2, 3)] = 777
condo

You'll get an error if you try to access a non-existent key:

In [ ]:
condo["not-here"]

## 6. Empties

Sometimes you'll want to create empty objects that will be filled later on.

In [ ]:
lst = list()  # empty list
lst

In [ ]:
lst = []  # empty list
lst

There's no real difference between the two methods above, `[]` is apparently [marginally faster](https://stackoverflow.com/questions/2972212/creating-an-empty-list-in-python)...

In [ ]:
tup = tuple()  # empty tuple
tup

In [ ]:
tup = ()  # empty tuple
tup

In [ ]:
dic = dict()  # empty dict
dic

In [ ]:
dic = {}  # empty dict
dic

In [ ]:
st = set()  # empty set
st

## 7. Language Semantics
The Python language design is distinguished by its emphasis on readability, simplicity, and explicitness. Some people go so far as to liken it to “executable pseudocode.”

### Indentation, not braces
Python uses whitespace (tabs or spaces) to structure code instead of using braces as in many other languages like R, C++, Java, and Perl. Consider a for loop from a sorting algorithm:

In [ ]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

A colon denotes the start of an indented code block after which all of the code must be indented by the same amount until the end of the block.

Love it or hate it, significant whitespace is a fact of life for Python programmers. While it may seem foreign at first, you will hopefully grow accustomed to it in time.

**Note**: I strongly recommend using four spaces as your default indentation and replacing tabs with four spaces. Many text editors have a setting that will replace tab stops with spaces automatically (do this!). IPython and Jupyter notebooks will automatically insert four spaces on new lines following a colon and replace tabs by four spaces.

## Everything is an object
An important characteristic of the Python language is the consistency of its object model. Every number, string, data structure, function, class, module, and so on exists in the Python interpreter in its own “box,” which is referred to as a Python object. Each object has an associated type (e.g., integer, string, or function) and internal data. In practice this makes the language very flexible, as even functions can be treated like any other object.

## Attributes and methods

Objects in Python typically have both attributes (other Python objects stored “inside” the object) and methods (functions associated with an object that can have access to the object’s internal data). Both of them are accessed via the syntax <obj.attribute_name>:

In [ ]:
a = "foo"

a.<Press Tab>

#capitalize() index()        isspace()      removesuffix()  startswith()
#casefold()   isprintable()  istitle()      replace()       strip()
#center()     isalnum()      isupper()      rfind()         swapcase()
#count()      isalpha()      join()         rindex()        title()
#encode()     isascii()      ljust()        rjust()         translate()
#endswith()   isdecimal()    lower()        rpartition()
#expandtabs() isdigit()      lstrip()       rsplit()
#find()       isidentifier() maketrans()    rstrip()
#format()     islower()      partition()    split()
#format_map() isnumeric()    removeprefix() splitlines()

## Comments

Any text preceded by the hash mark (pound sign) # is ignored by the Python interpreter. This is often used to add comments to code. At times you may also want to exclude certain blocks of code without deleting them. One solution is to comment out the code:

In [39]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace("foo", "bar"))

NameError: name 'file_handle' is not defined

Comments can also occur after a line of executed code. While some programmers prefer comments to be placed in the line preceding a particular line of code, this can be useful at times:

In [40]:
print("Reached this line")  # Simple status report

Reached this line

## Input

The input() function takes input from the user and returns it.

In [ ]:
x = input("Enter a number :")

In [ ]:
type(x)

In [ ]:
x = int(x)

In [ ]:
type(x)

In [45]:
a = float(input("Enter a real number :"))

Enter a real number :2.67

In [46]:
type(a)

float

# Control Flow

Python has several built-in keywords for conditional logic, loops, and other standard control flow concepts found in other programming languages.

## 8. Conditionals
<hr>

The if statement is one of the most well-known control flow statement types. It checks a condition that, if True, evaluates the code in the block that follows:

In [44]:
x = -5
if x < 0:
    print("It's negative")

It's negative

[Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program. Let's look at some examples and take note of the keywords, syntax and indentation.

In [ ]:
name = "Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name!")
print("Nice to meet you!")

The main points to notice:
- Use keywords `if`, `elif` and `else`
- The colon `:` ends each conditional expression
- Indentation (by 4 empty space) defines code blocks
- In an `if` statement, the first block whose conditional statement returns `True` is executed and the program exits the `if` block
- `if` statements don't necessarily need `elif` or `else`
- `elif` lets us check several conditions
- `else` lets us evaluate a default block if all other conditions are `False`
- the end of the entire `if` statement is where the indentation returns to the same level as the first `if` keyword

In [ ]:
a = int(input("Enter Marks :"))
if a >= 85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("A- Grade")
elif a < 80 and a >= 75:
    print("B Grade")
elif a < 75 and a >= 70:
    print("B- Grade")
else:
    print("Below Average")

If statements can also be **nested** inside of one another:

In [ ]:
name = "Super Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name.")
    if name.lower().startswith("super"):
        print("Do you really have superpowers?")

print("Nice to meet you!")

In [ ]:
a = int(input())
if a>10:
    print(">10")
    print("Inside the top if")
    if a>20:
        print(">20")
        print("Inside the nested if")
        if a>30:
            print(">30")
            print("inside the nested if of nested if")
        else:
            print("<=30")
            print("inside the else part of nested if of nested if")
    else:
        print("<=20")
        print("Inside the else part of nested if")
print("Outside all ifs")

### Inline if/else

We can write simple `if` statements "inline", i.e., in a single line, for simplicity.

In [51]:
words = ["the", "list", "of", "words","5","6"]

x = "long list" if len(words) > 10 else print("medium list") if len(words) > 5 else  "short list"
x

medium list

In [54]:
if len(words) > 10:
    x = "long list"
elif len(words) > 5:
    x = "medium list"
else:
    x = "short list"

In [55]:
x

'medium list'

### Truth Value Testing

Any object can be tested for "truth" in Python, for use in `if` and `while` (next chapter) statements.
- `True` values: all objects return `True` unless they are a `bool` object with value `False` or have `len()` == 0
- `False` values: `None`, `False`, `0`, empty sequences and collections: `''`, `()`, `[]`, `{}`, `set()`

```{tip}
Read more in the [docs here](https://docs.python.org/3/library/stdtypes.html#truth-value-testing).
```

In [ ]:
x = 1

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

In [ ]:
x = False

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

In [ ]:
x = []

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

### Short-circuiting

Python supports a concept known as "short-circuting". This is the automatic stopping of the execution of boolean operation if the truth value of expression has already been determined.

In [ ]:
fake_variable  # not defined

In [ ]:
True or fake_variable

In [ ]:
True and fake_variable

In [ ]:
False and fake_variable

|Expression|Result|Detail|
|---|---|---|
|A or B|If A is `True` then A else B|B only executed if A is `False`|
|A and B|If A is `False` then A else B|B only executed if A is `True`|