<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
برنامه سازی برای تحلیل داده - تابستان 1402
        </font>
		<p></p>
        <h1 style="text-align: center">
        تمرین چهارم - سوال اول
        </h1>
		<h2 style="text-align: center">
        میکرومستر دانشکده کامپیوتر
		<br>
		دانشگاه صنعتی شریف
		<br>
		</h3>


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
بخش اول
        </font>
		<p></p>
		<hr>
       در این بخش میخواهیم با پانداس و دیتافریم‌های آن آشنا شویم.
	   <br>
	   دیتافریم های پانداس را می‌توان با استفاده از ورودی‌های مختلف ایجاد کرد:
        <br>
		
* Lists
* dicts
* Series
* Numpy ndarrays
		
	<br>
	در ابتدا کتابخانه‌های موردنیاز را ادد می‌کنیم.
		<br>
	</font>
</div>

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت اول - ساخت دیتافریم با لیست
        </font>
		<p></p>
		<hr>
       سوال اول- لیستی از اعداد 
	   <br>
	   در این قسمت شما باید:
	   1- لیستی از اعداد بسازید. 2- از لیست دیتافریم بسازید. 3- آن را پرینت کنید.
        <br>
	</font>
</div>

In [2]:
# create an empty list
data = []

# TODO: add numbers to the data list
# put your code here
data.append(1)
data.append(2)
data.append(3)
data.append(4)
data.append(5)
data.append(1)
data.append(9)

data
# TODO: create a dataframe from the data list, then print it
# put your code here

dataframe = pd.DataFrame(data, columns=['data'])
print(dataframe)
dataframe.info()

   data
0     1
1     2
2     3
3     4
4     5
5     1
6     9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال دوم- لیستی از لیست ها
        </font>
		<p></p>
		<hr>
       در این تمرین شما باید
	   <br>
	   در این قسمت شما باید:
	   ۱- لیستی از اعداد و رشته ها بسازید. ۲- از لیست دیتافریم بسازید و برای هر ستون اسمی بگذارید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [3]:
# create an empty list
data = []

# TODO: add List of lists to data, forexample: data=[['test_1', 1],['test_2', 2]]
# put your code here
list1 = [1,'asdf', 435, True]
list2 = ['asdd', 123, False, 'Herllo']

data.append(list1)
data.append(list2)
data

# TODO: create a dataframe from the data list, then print it
# put your code here

dataframe = pd.DataFrame(data, columns=['c1', 'c2', 'c3', 'c4'])
print(dataframe)
dataframe.info()

     c1    c2     c3      c4
0     1  asdf    435    True
1  asdd   123  False  Herllo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      2 non-null      object
 1   c2      2 non-null      object
 2   c3      2 non-null      object
 3   c4      2 non-null      object
dtypes: object(4)
memory usage: 196.0+ bytes

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت دوم - ساخت دیتافریم با دیکشنری از آرایه ها و لیست ها
        </font>
		<p></p>
		<hr>
       سوال-۱- دیکشنری از لیست
	   <br>
	   در این تمرین شما باید:
	   ۱- دیکشنری از لیست ها بسازید. ۲- از لیست دیتافریم بسازید و برای هر نمونه اسمی بگذارید ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [4]:
# TODO: create a Dict of List, forexample: data ={'test':['num_1','num_2'], 'num':[1, 2]}
# put your code here
data = {'test1':['1', '2', '3'], 'test2':['11','22','33']}
data

# TODO: create a dataframe from your created list, and set index for each sample
# put your code here

dataframe = pd.DataFrame(data)
print(dataframe)
# rename the columns to give our own names
dataframe.rename(columns={'test1':'new1','test2':'new2'}, inplace=True)
print(dataframe)
dataframe.info()

  test1 test2
0     1    11
1     2    22
2     3    33
  new1 new2
0    1   11
1    2   22
2    3   33
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   new1    3 non-null      object
 1   new2    3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- لیستی از دیکشنری ها 
        </font>
		<p></p>
		<hr>
       تصور کنید که ما ۴ تا ویژگی داریم. گاهی اوقات اگر مقداری برای یکی از این ویژگیها در نظر نگیریم، در این صورت خود کتابخانه پانداز برای آن ویژگی مقدار NaN را در نظر میگیرد 
	   <br>
	   در این تمرین شما باید:
	   ۱- لیستی از دیکشنری ها بسازید و بعضی از مقادیر را خالی بگذارید. ۲- از لیست دیتافریم بسازید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [5]:
# TODO: create a List of Dicts, forexample: data=[{'test': 'test_1', 'Num': 1, 'NextNum': 2}, {'test': 'test_2', 'NextNum': 3}]
# put your code here

data=[{'test': 'test_1', 'Num': 1, 'NextNum': 2}, {'test': 'test_2', 'NextNum': 3}, {'test': 'test_3', 'Num':'1', 'NextNum':np.NaN}]
data
# TODO: create a dataframe from your created list
# put your code here

dataframe = pd.DataFrame(data)
print(dataframe)
dataframe.info()

     test  Num  NextNum
0  test_1    1      2.0
1  test_2  NaN      3.0
2  test_3    1      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   test     3 non-null      object
 1   Num      2 non-null      object
 2   NextNum  2 non-null      float64
dtypes: float64(1), object(2)
memory usage: 204.0+ bytes

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت سوم- ساخت دیتافریم با دیکشنری از
        </font>
		<p></p>
		<hr>
       سوال-۱- ساخت دیکشنری ازseries ها میگیرد.
	   <br>
		در Pandas، ما میتوانیم با استفاده از pd.Series یک سری از داده ها درست کنیم
	   <br>
	   در این تمرین شما باید:
	   ۱- یک دیکشنری از سری ها درست کنیدو برای هر ایندکس آن نامگذاری کنید. ۲- از دیکشنری ساخته شده دیتافریم بسازید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [6]:
# TODO: create a Dict of Series, forexample: data = {'Name': pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2']),'Num': pd.Series([1, 2], index=['Test_1', 'Test_2'])}
# put your code here

data = {'Name': pd.Series(['test_1', 'test_2'], index=['alpha', 'beta']),
        'Num': pd.Series([1, 2], index=['alpha', 'beta']),
        'New': pd.Series([np.NAN, True], index=['alpha', 'beta'])}
data

# TODO: create a dataframe
# put your code here
dataframe = pd.DataFrame(data)
dataframe


print(dataframe)
dataframe.info()
# NOTICE: try to solve this problem with NaN values to get more familiar with pandas

         Name  Num   New
alpha  test_1    1   NaN
beta   test_2    2  True
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, alpha to beta
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Num     2 non-null      int64
 2   New     1 non-null      object
dtypes: int64(1), object(2)
memory usage: 64.0+ bytes

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت چهارم- پردازش ستون ها
        </font>
		<p></p>
		<hr>
       در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک ستون میپردازیم.
	   <br>
		سوال-۱- اضافه کردن ستون
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون جدید به اختیار خود برای دیتافریم بسازید. 
       2- آن را پرینت کنید.
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [7]:
# TODO: add column, forexample by using series: df ['added_col'] = pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2'])
# put your code here
current_df = dataframe.copy()
current_df

# first way: concatenate
new_column = pd.Series(['123asdf','#$@SDFA'], index=['alpha','beta'], name='new_co')
new_column
concatenated_df = pd.concat([current_df, new_column],axis=1)

# second way: creating a new column and giving it data like mentioned above
concatenated_df['new_co2'] = pd.Series(['test22','test234'], index=['alpha','beta'])
concatenated_df


# TODO: print the dataframe
# put your code here


print(concatenated_df)

concatenated_df.info()

         Name  Num   New   new_co  new_co2
alpha  test_1    1   NaN  123asdf   test22
beta   test_2    2  True  #$@SDFA  test234
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, alpha to beta
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     2 non-null      object
 1   Num      2 non-null      int64
 2   New      1 non-null      object
 3   new_co   2 non-null      object
 4   new_co2  2 non-null      object
dtypes: int64(1), object(4)
memory usage: 96.0+ bytes

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- اضافه کردن ستون با استفاده از ستون ها دیگر
        </font>
		<p></p>
		<hr>
       ما میتوانیم از ستون های موجود دیگر در دیتافریم برای ساخت ستون جدید استفاده کنیم. بطور مثال اگر دو تا ستون عددی داشته باشیم، میتوانیم ستون جدیدی با استفاده از جمع آن دو ستون عددی بسازیم و به دیتافریم اضافه کنیم.
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون جدید با استفاده از ستون های موجود برای دیتافریم بسازید
       2- آن را پرینت کنید
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [8]:
# TODO: create column using another cols
# put your code here

new_df = concatenated_df.copy()
new_df['numbers'] = pd.Series([12,24], index=['alpha', 'beta'])
new_df['square of numbers column'] = new_df['numbers'] ** 2
new_df

# TODO: print it
# put your code here

print(new_df)

         Name  Num   New   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                       144
beta   test_2    2  True  #$@SDFA  test234       24                       576

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۳- انتخاب کردن ستون 
        </font>
		<p></p>
		<hr>
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون از بین ستون های موجود انتخاب کنید
       2- آن را پرینت کنید
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [9]:
# TODO: select a column
# put your code here
new_df2 = new_df.copy()

column2 = new_df2['new_co']


# TODO: print it
# put your code here

print(column2)

alpha    123asdf
beta     #$@SDFA
Name: new_co, dtype: object

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۴- حذف کردن ستون 
        </font>
		<p></p>
		<hr>
	   <br>
	   ما میتوانیم ستون را با استفاده از روش های زیر حدف کنیم:
	   ۱- تابع del
       ۲- تابع pop
	   ۳- تابع drop
        <br>
		<br>
	</font>
</div>

In [10]:
# TODO: delete a column using del function
# put your code here
new_df3 = new_df2.copy()
print(new_df3)
del new_df3['New']
print(new_df3)
print('#*#*' * 30)



# TODO: delete a column using pop function
# put your code here
new_df4 = new_df2.copy()
print(new_df4)
new_df4.pop('Name')
print(new_df4)
print("#*#*" * 30)



# TODO: delete a column using drop function
# put your code here
new_df5 = new_df2.copy()
print(new_df5)
new_df5.drop(columns=['Name', 'New'], inplace=True)
print(new_df5)


# it is better to print the dataframe after each method to see what happen

         Name  Num   New   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                       144
beta   test_2    2  True  #$@SDFA  test234       24                       576
         Name  Num   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1  123asdf   test22       12                       144
beta   test_2    2  #$@SDFA  test234       24                       576
#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*
         Name  Num   New   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                       144
beta   test_2    2  True  #$@SDFA  test234       24                       576
       Num   New   new_co  new_co2  numbers  square of numbers column
alpha    1   NaN  123asdf   test22       12                       144
beta     2  True  #$@SDFA  test234       24                       576
#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*
         Name  Num   New   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                       144
beta   test_2    2  True  #$@SDFA  test234       24                       576
       Num   new_co  new_co2  numbers  square of numbers column
alpha    1  123asdf   test22       12                       144
beta     2  #$@SDFA  test234       24                       576

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت ۵: پردازش سطر ها 
        </font>
		<p></p>
		<hr>
       در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک سطر میپردازیم:
	   <br>
		 سوال-۳- انتخاب کردن سطر 
	   <br>
	   ما میتوانیم سطر را با استفاده از روش های زیر انتخاب کنیم:
	   ۱- انتخاب با label ۲- انتخاب با شماره ایندکس ۳- انتخاب با دو نقطه :
        <br>
	</font>
</div>

In [11]:
# TODO: try to select a row by Lable-- Lable means the sample name in here 
# put your code here

new_df6 = new_df2.copy()
print(new_df6)
print("*" * 50)
row_by_label = new_df6.loc['alpha']
print(row_by_label)
print("#*#*" * 30)

# TODO: try to select a row by integer location-- integer location means the number of index of sample
# put your code here
row_by_index = new_df6.iloc[1]
print(row_by_index)
print("#*#*" * 30)


# TODO: using : oprator forexample print[array[4:8]]
# put your code here

sliced_dataframe = new_df6[0:1]
print(sliced_dataframe)


# you can print the dataframe in each step to see what happen

         Name  Num   New   new_co  new_co2  numbers  square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                       144
beta   test_2    2  True  #$@SDFA  test234       24                       576
**************************************************
Name                         test_1
Num                               1
New                             NaN
new_co                      123asdf
new_co2                      test22
numbers                          12
square of numbers column        144
Name: alpha, dtype: object
#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*
Name                         test_2
Num                               2
New                            True
new_co                      #$@SDFA
new_co2                     test234
numbers                          24
square of numbers column        576
Name: beta, dtype: object
#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*
         Name  Num  New   new_co new_co2  numbers  square of numbers column
alpha  test_1    1  NaN  123asdf  test22       12                       144

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- اضافه کردن سطر 
        </font>
		<p></p>
		<hr>
       برای اضافه کردن سطر میتوانید مقادیر جدید بسازید و سپس آن را به دیتافریم اضافه کنید.
	   <br>
	</font>
</div>

In [12]:
# TODO: create a row using DataFrame function
# put your code here
new_data = pd.DataFrame({'Name':'1234',  'Num':'sdg',   'New':2134,   'new_co':43,
                         'new_co2':np.nan,  'numbers':234 , 'square of numbers column':'353uit4'}, index=['gamma'])

print(new_data)
print("#*#*" *30)
# TODO: add the created row to your dataframe, you can use append function
# put your code here

new_df7 = new_df2.copy()
new_df7

# new_df7 = new_df7.append(new_data)
new_df7 = pd.concat([new_df7, new_data],axis=0)
new_df7

# TODO: print your dataframe to see it
# put your code here
print(new_df7)

       Name  Num   New  new_co  new_co2  numbers square of numbers column
gamma  1234  sdg  2134      43      NaN      234                  353uit4
#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*
         Name  Num   New   new_co  new_co2  numbers square of numbers column
alpha  test_1    1   NaN  123asdf   test22       12                      144
beta   test_2    2  True  #$@SDFA  test234       24                      576
gamma    1234  sdg  2134       43      NaN      234                  353uit4

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
 سوال-۳- پاک کردن سطر 
        </font>
		<p></p>
		<hr>
       برای پاک کردن سطر، از تابع drop همراه شماره نمونه استفاده میشود.
	   <br>
	</font>
</div>

In [13]:
# TODO: delete a row using drop function and the lable
# put your code here

new_df8 = new_df7.copy()

# removing by index label
# new_df8.drop('alpha', axis='index', inplace=True)

# removing by index beta using its location
new_df8.drop(new_df8.index[1], axis=0, inplace=True)

# TODO: print your dataframe
# put your code here

print(new_df8)

         Name  Num   New   new_co new_co2  numbers square of numbers column
alpha  test_1    1   NaN  123asdf  test22       12                      144
gamma    1234  sdg  2134       43     NaN      234                  353uit4