<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
برنامه سازی برای تحلیل داده - تابستان 1402
        </font>
		<p></p>
        <h1 style="text-align: center">
        تمرین چهارم - سوال اول
        </h1>
		<h2 style="text-align: center">
        میکرومستر دانشکده کامپیوتر
		<br>
		دانشگاه صنعتی شریف
		<br>
		</h3>


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
بخش اول
        </font>
		<p></p>
		<hr>
       در این بخش میخواهیم با پانداس و دیتافریم‌های آن آشنا شویم.
	   <br>
	   دیتافریم های پانداس را می‌توان با استفاده از ورودی‌های مختلف ایجاد کرد:
        <br>
		
* Lists
* dicts
* Series
* Numpy ndarrays
		
	<br>
	در ابتدا کتابخانه‌های موردنیاز را ادد می‌کنیم.
		<br>
	</font>
</div>

In [3]:
# import necessary libraries
import pandas as pd
import numpy as np


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت اول - ساخت دیتافریم با لیست
        </font>
		<p></p>
		<hr>
       سوال اول- لیستی از اعداد 
	   <br>
	   در این قسمت شما باید:
	   1- لیستی از اعداد بسازید. 2- از لیست دیتافریم بسازید. 3- آن را پرینت کنید.
        <br>
	</font>
</div>

In [8]:
# create an empty list
data = []

# TODO: add numbers to the data list
# put your code here

# TODO: create a dataframe from the data list, then print it
# put your code here


<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال دوم- لیستی از لیست ها
        </font>
		<p></p>
		<hr>
       در این تمرین شما باید
	   <br>
	   در این قسمت شما باید:
	   ۱- لیستی از اعداد و رشته ها بسازید. ۲- از لیست دیتافریم بسازید و برای هر ستون اسمی بگذارید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [7]:
# create an empty list
data = []

# TODO: add List of lists to data, forexample: data=[['test_1', 1],['test_2', 2]]
# put your code here

# TODO: create a dataframe from the data list, then print it
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت دوم - ساخت دیتافریم با دیکشنری از آرایه ها و لیست ها
        </font>
		<p></p>
		<hr>
       سوال-۱- دیکشنری از لیست
	   <br>
	   در این تمرین شما باید:
	   ۱- دیکشنری از لیست ها بسازید. ۲- از لیست دیتافریم بسازید و برای هر نمونه اسمی بگذارید ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [9]:
# TODO: create a Dict of List, forexample: data ={'test':['num_1','num_2'], 'num':[1, 2]}
# put your code here

# TODO: create a dataframe from your created list, and set index for each sample
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- لیستی از دیکشنری ها 
        </font>
		<p></p>
		<hr>
       تصور کنید که ما ۴ تا ویژگی داریم. گاهی اوقات اگر مقداری برای یکی از این ویژگیها در نظر نگیریم، در این صورت خود کتابخانه پانداز برای آن ویژگی مقدار NaN را در نظر میگیرد 
	   <br>
	   در این تمرین شما باید:
	   ۱- لیستی از دیکشنری ها بسازید و بعضی از مقادیر را خالی بگذارید. ۲- از لیست دیتافریم بسازید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [12]:
# TODO: create a List of Dicts, forexample: data=[{'test': 'test_1', 'Num': 1, 'NextNum': 2}, {'test': 'test_2', 'NextNum': 3}]
# put your code here

# TODO: create a dataframe from your created list
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت سوم- ساخت دیتافریم با دیکشنری از
        </font>
		<p></p>
		<hr>
       سوال-۱- ساخت دیکشنری ازseries ها میگیرد.
	   <br>
		در Pandas، ما میتوانیم با استفاده از pd.Series یک سری از داده ها درست کنیم
	   <br>
	   در این تمرین شما باید:
	   ۱- یک دیکشنری از سری ها درست کنیدو برای هر ایندکس آن نامگذاری کنید. ۲- از دیکشنری ساخته شده دیتافریم بسازید. ۳- آن را پرینت کنید.
        <br>
	</font>
</div>

In [15]:
# TODO: create a Dict of Series, forexample: data = {'Name': pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2']),'Num': pd.Series([1, 2], index=['Test_1', 'Test_2'])}
# put your code here

# TODO: create a dataframe
# put your code here


# NOTICE: try to solve this problem with NaN values to get more familiar with pandas

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت چهارم- پردازش ستون ها
        </font>
		<p></p>
		<hr>
       در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک ستون میپردازیم.
	   <br>
		سوال-۱- اضافه کردن ستون
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون جدید به اختیار خود برای دیتافریم بسازید. 
       2- آن را پرینت کنید.
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [17]:
# TODO: add column, forexample by using series: df ['added_col'] = pd.Series(['test_1', 'test_2'], index=['Test_1', 'Test_2'])
# put your code here

# TODO: print the dataframe
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- اضافه کردن ستون با استفاده از ستون ها دیگر
        </font>
		<p></p>
		<hr>
       ما میتوانیم از ستون های موجود دیگر در دیتافریم برای ساخت ستون جدید استفاده کنیم. بطور مثال اگر دو تا ستون عددی داشته باشیم، میتوانیم ستون جدیدی با استفاده از جمع آن دو ستون عددی بسازیم و به دیتافریم اضافه کنیم.
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون جدید با استفاده از ستون های موجود برای دیتافریم بسازید
       2- آن را پرینت کنید
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [1]:
# TODO: create column using another cols
# put your code here

# TODO: print it
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۳- انتخاب کردن ستون 
        </font>
		<p></p>
		<hr>
	   <br>
	   در این تمرین شما باید:
	   ۱- یک ستون از بین ستون های موجود انتخاب کنید
       2- آن را پرینت کنید
        <br>
		توجه کنید که میتوانید از دیتافریم های ساخته شده بالا استفاده کنید.
		<br>
	</font>
</div>

In [21]:
# TODO: select a column
# put your code here

# TODO: print it
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۴- حذف کردن ستون 
        </font>
		<p></p>
		<hr>
	   <br>
	   ما میتوانیم ستون را با استفاده از روش های زیر حدف کنیم:
	   ۱- تابع del
       ۲- تابع pop
	   ۳- تابع drop
        <br>
		<br>
	</font>
</div>

In [23]:
# TODO: delete a column using del function
# put your code here

# TODO: delete a column using pop function
# put your code here

# TODO: delete a column using drop function
# put your code here

# it is better to print the dataframe after each method to see what happen

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
قسمت ۵: پردازش سطر ها 
        </font>
		<p></p>
		<hr>
       در این قسمت ما به اضافه کردن، پاک کردن و انتخاب یک سطر میپردازیم:
	   <br>
		 سوال-۳- انتخاب کردن سطر 
	   <br>
	   ما میتوانیم سطر را با استفاده از روش های زیر انتخاب کنیم:
	   ۱- انتخاب با label ۲- انتخاب با شماره ایندکس ۳- انتخاب با دو نقطه :
        <br>
	</font>
</div>

In [24]:
# TODO: try to select a row by Lable-- Lable means the sample name in here 
# put your code here

# TODO: try to select a row by integer location-- integer location means the number of index of sample
# put your code here

# TODO: using : oprator forexample print[array[4:8]]
# put your code here

# you can print the dataframe in each step to see what happen

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
سوال-۲- اضافه کردن سطر 
        </font>
		<p></p>
		<hr>
       برای اضافه کردن سطر میتوانید مقادیر جدید بسازید و سپس آن را به دیتافریم اضافه کنید.
	   <br>
	</font>
</div>

In [25]:
# TODO: create a row using DataFrame function
# put your code here

# TODO: add the created row to your dataframe, you can use append function
# put your code here

# TODO: print your dataframe to see it
# put your code here

<p></p>
<br />
<div id="sec_intro" style="direction:rtl;line-height:300%;">
	<font face="B Nazanin" size=5>
		<font color=#FF7500 size=6>
 سوال-۳- پاک کردن سطر 
        </font>
		<p></p>
		<hr>
       برای پاک کردن سطر، از تابع drop همراه شماره نمونه استفاده میشود.
	   <br>
	</font>
</div>

In [26]:
# TODO: delete a row using drop function and the lable
# put your code here

# TODO: print your dataframe
# put your code here